#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 360px;
  text-align: left;
}

form .field {
  display: flex;
  gap: 12px;
  align-items: center;
}

form .field label {
  width: 80px;
}

form .field input,
form .field select {
  flex: 1;
}